<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 60px;
        }

        .tr-head {
            background-color: '#dff08';
        }
    </style>
    <title>Document</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.min.css">
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="#" class="brand">
                    IDGS805
                </a>
                <ul class="nav">
                    <li class="active">
                        <a href="#">
                            <i class="icon-home icon-withe"></i>Inicio
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user icon-withe"></i>Usuarios
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user icon-withe"></i>Alumnos
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% block container %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        {% endblock %}
    </div>

</body>

</html>